<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <title>航模论坛</title>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/bootstrap.js" type="application/javascript"></script>
    </head>
    <body style="background-color: #efefef">
        <div th:insert="~{navigation::navitionbar}"></div>
        <div style="display: inline-block;width: 250px;border: 1px solid #d9d9d9">
            <h5>暖粉弹幕列表</h5>
            <ul class="list-group" id="dan-mu-list">
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
                <li class="list-group-item">&nbsp;</li>
            </ul>
            <input id="dan-mu" placeholder="发条弹幕互动下吧~" style="width: 250px;height: 40px">
            <button type="submit" class="btn btn-success" style="float: right;margin-bottom: 20px" id="send-dan">发送</button>
        </div>
    </body>
    <script>
        var path = "localhost:8866/";
        var chat = new WebSocket("ws://"+path+"ws")
        /* 连上之后 */
        chat.onopen = function (ev) {
            console.log("websocket连接成功")
        };
        /* 接收消息 */
        chat.onmessage = function (ev) {
            var data = ev.data;
            console.log(data)
            if (!data)
                return
            data = JSON.parse(data)
            if (data.user && data.content) {
                var danMuList = document.getElementById("dan-mu-list")
                var appentStr = '<li class="list-group-item">\n' +
                    '                <span style="color: #00a8c6">'+data.user.username+'</span>:\n' +
                    '                <span>'+data.content+'</span>\n' +
                    '            </li>'
                danMuList.removeChild(danMuList.children[0])
                danMuList.innerHTML+=appentStr
            }
        };
        chat.onclose = function (ev) {
            console.log("连接断开")
        }
        var sendButton = document.getElementById("send-dan")
        sendButton.onclick = function (ev) {
            var sendContent = document.getElementById("dan-mu").value
            document.getElementById("dan-mu").value = ""
            chat.send(sendContent)
        }

    </script>
</html>